<?xml version="1.0" encoding="UTF-8"?>
<suit name = "Carousell Test">
<test name = "Smoke test">
<classes>

	<class name = "comcarousellTestcases.VerifyLogin"/>
	<class name = "comcarousellTestcases.VerifyCarousellHome"/>
	<class name = "comcarousellTestcases.VerifySenderMessage"/>
	<class name = "comcarousellTestcases.VerifyCarousellInbox"/>
	
</classes>
</test>
</suit>